body {
    font-size: 16px;
    background-color: #fff;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
}


/* Activity 2 styles */

.content2 {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 00px 100px 100px 100px 100px 100px;
    max-width: 600px;
}

.red2 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.green2 {
    width: 100px;
    height: 100px;
    background-color: green;
    margin-top: 50px;
    margin-left: -50px;
}

.yellow2 {
    width: 100px;
    height: 100px;
    background-color: gold;
    margin-top: 100px;
    margin-left: -100px;
}

.blue2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-top: 150px;
    margin-left: -150px;
}


/* Activity 3 styles */

.content3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 150px;
    max-width: 600px;
}

.red3 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column: 1/3;
}

.green3 {
    width: 100%;
    height: 300px;
    background-color: green;
}

.yellow3 {
    width: 100%;
    height: 300px;
    background-color: gold;
}

.blue3 {
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column: 1/3;
}


/* Activity 4 styles */

.content4 {
    height: 400px;
    display: grid;
    grid-column-gap: 0px;
    max-width: 600px;
}

.red4 {
    width: 500px;
    height: 600px;
    background-color: red;
}

.green4 {
    width: 18%;
    height: 200px;
    background-color: green;
    margin-top: -600px;
    margin-left: 500px;
}

.yellow4 {
    width: 18%;
    height: 200px;
    background-color: gold;
    margin-top: -400px;
    margin-left: 500px;
}

.blue4 {
    width: 18%;
    height: 200px;
    background-color: blue;
    margin-top: -200px;
    margin-left: 500px;
}


/* Activity 5 styles */

.content5 {
    height: 400px;
    margin-top: 100px;
    max-width: 600px;
}

.red5 {
    width: 100%;
    height: 100px;
    background-color: red;
}

.green5 {
    width: 100px;
    height: 100px;
    background-color: green;
    float: left;
}

.yellow5 {
    width: 100%;
    height: 200px;
    background-color: gold;
}

.blue5 {
    width: 100%;
    height: 100px;
    background-color: blue;
}


/* Activity 6 styles */

.content6 {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    max-width: 600px;
    float: left;
}

.red6 {
    width: 600px;
    height: 200px;
    background-color: red;
    grid-column: 1/6;
    grid-row: 1;
    z-index: 1;
}

.green6 {
    width: 200px;
    height: 200px;
    background-color: green;
    grid-row: 5;
    z-index: 5;
}

.yellow6 {
    width: 200px;
    height: 298px;
    background-color: gold;
    grid-column: 5/6;
    grid-row: 4;
    z-index: 4;
}

.blue6 {
    width: 400px;
    height: 400px;
    background-color: blue;
    grid-column: 2/6;
    grid-row: 2;
    z-index: 2;
}

.activity {
    width: 70%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    padding: 50px;
}