   /* Media Query for medium+ views */
   
   @media only screen and (min-width: 32.5em) {
       .navigation {
           display: flex;
       }
       .navigation li {
           display: block;
           /* change state in small view */
           flex: 1 1 auto;
       }
       .navigation a {
           text-align: center;
       }
       .navigation li:first-child {
           display: none;
       }
   }
   
   .logo {
       margin: 0;
       font-size: 1.55em;
       color: #fff;
   }
   
   .main-nav {
       margin-top: 5px;
       background: #000;
   }
   
   .logo a,
   .main-nav a {
       color: #fff;
       padding: 10px 15px;
       text-transform: uppercase;
       text-align: center;
       display: block;
   }
   
   .main-nav a {
       color: #fff;
       font-size: 0.99em;
   }
   
   .main-nav a:hover {
       color: #c1defc;
   }
   /*********************************************/
   
   @media only screen and (min-width: 64rem) {
       nav button {
           display: none;
       }
       nav ul.hide {
           display: block;
       }
       nav ul {
           margin-left: 0;
       }
       nav ul li {
           float: left;
       }
       nav ul li a {
           border: none;
           border-right: 1px solid rgba(0, 0, 0, 0.3);
           padding: .6rem 1rem;
       }
       .smallimage {
           display: none;
       }
       .mediumimage {
           display: none;
       }
       .largeimage {
           display: block;
       }
       .weatherimages {
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
       }
       div.cards {
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           grid-gap: 20px;
           text-align: center;
           margin: 20px auto;
       }
       article {
           display: grid;
           grid-template-columns: 1fr;
           border: 3px solid #19647E;
           text-align: center;
           padding: 15px;
       }
       .cards img {
           align-content: center;
       }
       .tName {
           text-align: center;
       }
   }