   /* Media Query for medium+ views */
   
   @media only screen and (min-width: 32.5em) {
       .navigation {
           display: flex;
       }
       .navigation li {
           display: block;
           /* change state in small view */
           flex: 1 1 auto;
       }
       .navigation a {
           text-align: center;
       }
       .navigation li:first-child {
           display: none;
       }
   }
   
   .logo {
       margin: 0;
       font-size: 1.55em;
       color: #fff;
   }
   
   .main-nav {
       margin-top: 5px;
       background: #000;
   }
   
   .logo a,
   .main-nav a {
       color: #fff;
       padding: 10px 15px;
       text-transform: uppercase;
       text-align: center;
       display: block;
   }
   
   .main-nav a {
       color: #fff;
       font-size: 0.99em;
   }
   
   .main-nav a:hover {
       color: #c1defc;
   }