            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
             :root {
                --font-family: 'Poppins', sans-serif;
            }
            
            * {
                font-family: var(--font-family) !important;
                box-sizing: border-box;
            }
            
            body {
                background-color: var(--gray-color);
                margin: 0 auto;
            }
            /* text styles */
            
            ul,
            li,
            script {
                color: var(--blue-color);
                /*padding: 1em;*/
            }
            /* list styles */
            
            ul,
            li {
                margin: 10px;
                padding-left: 0em;
            }
            
            a:link,
            a:active {
                text-transform: capitalize;
                color: var(--blue-color);
            }
            /* link clicked, link focused */
            
            a:visited {
                color: var(--used-color);
            }
            
            .main-head {
                background: burlywood;
                padding: 15px 0;
            }
            
            .header-row {
                width: 70%;
                margin: 0 auto;
                padding: 0 25px;
                display: grid;
                grid-gap: 1rem;
            }
            
            h1.town {
                padding-top: 20px;
            }
            
            @media (min-width: 600px) {
                .header-row {
                    grid-template-columns: 1fr 4fr;
                }
            }
            /* Screen larger than 900px? 3 columns */
            
            @media (min-width: 900px) {
                .header-row {
                    grid-template-columns: 1fr 4fr;
                }
            }
            
            .header-item {
                background: transparent;
                /* padding: 1.5vw 2vw; */
                /* margin: 0 auto; */
            }
            
            .page-subset {
                position: relative;
                bottom: 100px;
                color: burlywood;
                font-size: 100%;
            }
            
            .containerbox {
                background-color: white;
                padding: 12px;
                display: block;
                margin: 10px auto;
                border: 1px;
                color: black;
                box-shadow: 0 4px 4px 0 rgb(0 0 0 / 80%);
                max-width: 890px;
            }
            
            .containerboxThree {
                padding: 12px;
                display: block;
                margin: 10px auto;
                border: 1px;
                color: black;
                box-shadow: 0 4px 4px 0 rgb(0 0 0 / 80%);
                max-width: 300px;
                background: gray;
            }
            
            .containerboxOne {
                background-color: white;
                padding: 12px;
                display: block;
                margin: 10px auto;
                border: 1px;
                color: black;
                max-width: 890px;
            }
            
            @media screen and (max-width: 600px) {
                .containerboxOne {
                    display: none;
                }
            }
            
            .footer-row {
                grid-template-columns: repeat(1, 1fr);
                width: 100%;
            }
            
            .footer-row {
                display: grid;
                grid-gap: 10px;
            }
            
            img.hero-image {
                max-width: 100%;
            }
            
            .hero .hero-image {
                height: 400px;
                box-shadow: 2px 2px 5px 2px #888;
            }
            
            .heroPicture {
                height: 400px;
                width: 100%;
                background-size: cover;
                background-position: center;
                margin: auto;
                position: relative;
                background-repeat: no-repeat;
                max-width: 1000px;
                text-align: center;
            }
            
            .weatherSum {
                height: 250px;
                width: 250px;
                background: gray;
                margin: 19px;
                top: 1rem;
                margin-bottom: 15px;
                padding-left: 6px;
                padding-top: 5px;
                margin-left: 263px;
            }
            
            @media (min-width: 600px) {
                .forecast {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            
            @media (min-width: 900px) {
                .forecast {
                    grid-template-columns: repeat(5, 1fr);
                }
            }
            
            @media (min-width: 600px) {
                .forecast {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            
            @media (min-width: 900px) {
                .forecast {
                    grid-template-columns: repeat(5, 1fr);
                }
            }
            
            .forecast-item {
                background: #fff;
                width: 50px;
                height: 50px;
                /* padding: 1.5vw 2vw; */
                margin: 0 auto;
            }
            
            .footer-row {
                display: grid;
                grid-gap: 1rem;
            }
            
            @media (min-width: 600px) {
                .footer-row {
                    grid-template-columns: repeat(2, 1fr);
                    width: 100%;
                }
            }
            
            @media (min-width: 900px) {
                .footer-row {
                    grid-template-columns: repeat(1, 1fr);
                    width: 70%;
                    margin: 0 auto;
                }
            }
            
            .footer-item {
                padding: 1.5vw 2vw;
                margin: 10px;
            }
            /* profile photo float right */
            
            h1 {
                color: black;
            }
            
            h2 {
                color: var(--blue-color);
                font-size: 1.25em;
            }
            
            footer {
                font-size: .9em;
                padding: 3rem;
                text-align: center;
                color: black;
                background: burlywood
            }
            
            .subscript {
                font-size: .7em;
                padding: .5rem;
                text-align: center;
            }
            
            h4 {
                text-align: center;
            }
            
            header>h1,
            h4 {
                padding: 0em;
                ;
            }
            
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            
            a {
                text-decoration: none;
            }
            
            .header {
                background-color: grey;
                width: 100%;
                z-index: 3;
            }
            
            .header ul {
                margin: 0;
                padding: 0;
                list-style: none;
                overflow: hidden;
            }
            
            .header li a {
                display: block;
                padding: 20px 20px;
                text-decoration: none;
                color: #fff;
            }
            
            nav {
                margin: 0 auto;
                background-color: burlywood;
            }
            
            .navigation {
                list-style: none;
                padding: 0;
                max-width: 1000px;
                margin: 0 auto !important;
            }
            
            .navigation li:first-child {
                display: block;
            }
            
            .navigation li {
                display: none;
            }
            
            .navigation a {
                display: block;
                padding: 0.75rem;
                text-align: left;
                text-decoration: none;
                color: black;
                font-weight: 700;
            }
            
            .navigation a:hover {
                color: burlywood;
                background-color: grey;
            }
            
            .responsive li {
                display: block;
            }
            
            .weatherForecast {
                display: flex;
                flex-direction: column;
                max-width: 980px
            }
            
            #heading {
                text-align: center;
                font-size: 2em;
            }
            
            #tableView {
                display: flex;
            }
            
            #tableView table {
                text-align: center;
                margin: 1rem auto;
            }
            
            table,
            th,
            td {
                border: 2px solid burlywood;
                border-collapse: collapse;
            }
            
            th,
            td {
                padding: 15px;
                text-align: center;
            }
            
            table {
                border-spacing: 5px;
                width: 50%;
            }
            
            .footer-item {
                padding: 1.5vw 2vw;
                margin: 10px;
            }
            
            .social-icons {
                margin-top: 20px;
            }
            
            aside.announcement {
                background-color: grey;
                color: white;
                padding: 2em;
                margin-top: 0;
                text-align: center;
            }
            
            aside#pancakes.announcement.hide {
                display: none;
            }
            
            nav ul li.active a {
                background-color: grey;
                color: burlywood;
            }
            /* --------FORM STYLING----------- */
            
            h1.h1sc {
                font-size: 2.2rem;
            }
            
            form fieldset {
                margin: 2rem 0;
                border: 1px solid #2a3640;
                padding: 2rem 2%;
            }
            
            form legend {
                color: #2a3640;
                margin: 0 1rem;
                padding: 0 .5rem;
                font-size: 1.5rem;
            }
            
            form label.top,
            form div {
                display: block;
                padding-top: 1rem;
                color: #2a3640;
                font-size: 1rem;
                font-family: "Montserrat", "Helvetica", sans-serif;
            }
            
            form label.top input,
            form label.top select {
                -webkit-appearance: none;
                display: block;
                font-size: 1rem;
                border: solid 1px burlywood;
                border-radius: 4px;
                padding: .75rem;
                color: #555;
                width: 100%;
                max-width: 20rem;
                background-color: burlywood;
            }
            
            #rating {
                display: block;
                padding-top: 3rem;
                color: burlywood;
                font-size: 1rem;
            }
            
            div#rate {
                margin-top: -1.5rem;
            }
            
            form label.sbs {
                display: block;
                padding: .75rem 0;
                color: #555;
            }
            
            form input.submitBtn {
                border: none;
                background-color: burlywood;
                color: #fff;
                font-weight: 600;
                border-radius: 5rem;
                padding: .75rem 1.5rem;
                margin: 0 0 2rem 2%;
                width: 96%;
                max-width: 20rem;
            }
            
            form label.top input:required {
                border-left: red solid 6px;
            }
            
            form label.top input:required:valid {
                border-left: green solid 6px;
            }
            
            input.txtarea {
                width: 100%;
                height: 200px;
                border: solid 1px burlywood;
                border-radius: 10px;
                padding: .75rem;
                color: burlywood;
            }
            
            fieldset#danger {
                margin-bottom: 5rem;
            }
            
            form select.stormbut {
                padding: 5px;
                color: red;
            }
            
            div#rate {
                padding-top: 3rem;
                margin-bottom: -1rem;
            }
            
            span#ratingvalue {
                background-color: black;
                color: white;
                padding: .2rem;
            }
            
            img.farmhouse {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                box-shadow: 0 4px 8px 0 rgba(0, 1, 1, 0.5);
            }
            
            h1.h1sc {
                text-align: center;
                font-size: 3rem;
            }
            
            .boxmodel {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
            }
            
            @media only screen and (max-width: 768px) {
                .boxmodel {
                    display: grid;
                    grid-template-columns: 1fr;
                    padding: 1em;
                }
            }